################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project/CafeShop/.vs/CafeShop/FileContentIndex/efb33702-4af6-40b5-874d-0276292ebe10.vsidx
/Project/CafeShop/.vs/CafeShop/FileContentIndex/71917412-31ca-457f-acfc-479f5653b909.vsidx
/Project/CafeShop/.vs/CafeShop/FileContentIndex/cc962a39-1a71-42b7-b9a5-f639d1d692fa.vsidx
/Project/CafeShop/.vs/CafeShop/FileContentIndex/3d2e9aa3-6d4e-48ff-a300-b8a12ecedd63.vsidx
/Project/CafeShop/.vs/CafeShop/FileContentIndex/3c59bf04-d849-447e-ad77-0c5397a46c19.vsidx
*.vsidx
/Project/CafeShop/.vs/CafeShop/FileContentIndex/a772d78d-288c-4f83-b666-84a6badc6b5d.vsidx
/Project/CafeShop/.vs/CafeShop/v17/.suo
