################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project/CafeShop/.vs/CafeShop/FileContentIndex/efb33702-4af6-40b5-874d-0276292ebe10.vsidx
/Project/CafeShop/.vs/CafeShop/FileContentIndex/71917412-31ca-457f-acfc-479f5653b909.vsidx
/Project/CafeShop/.vs/CafeShop/FileContentIndex/cc962a39-1a71-42b7-b9a5-f639d1d692fa.vsidx
