<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CafeShop - Admin</title>
    <link rel="icon" type="image/png" href="~/assets/logo.jpg">


    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CafeShop.styles.css" asp-append-version="true" />
    <link href="~/assets/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/admin/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/admin/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/admin/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets/admin/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/assets/admin/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/admin/vendor/simple-datatables/style.css" rel="stylesheet">
    <link href="~/assets/admin/css/style.css" rel="stylesheet" />
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link href="~/assets/admin/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="~/assets/admin/vendor/bootstrap-icons/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="~/assets/admin/vendor/dist/apexcharts.css" rel="stylesheet" />
    <script src="~/assets/admin/js/jquery.js"></script>
    <script src="~/js/select2.full.min.js"></script>
    <script src="~/js/moment.min.2.29.2.js"></script>
    <script src="~/assets/admin/vendor/dist/apexcharts.min.js"></script>
</head>

@{
    var FullName = Context.Session.GetString("FullName");
    var Id = Context.Session.GetInt32("AccountId");
    var Role = Context.Session.GetInt32("AccountRole");
    if (Id <= 0)
    {
        Context.Response.Redirect("/Home/Privacy");
    }
}

<body>
    <div id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center">
                <span class="d-none d-lg-block">Coffe Shop Admin</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-bell"></i>
                        <span class="badge bg-primary badge-number" id="layout_notify_material_out_total">0</span>
                    </a><!-- End Notification Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications" id="layout_notify_material_out_message" style="height: 30vh; overflow-y: auto;">
                    </ul><!-- End Notification Dropdown Items -->

                </li><!-- End Notification Nav -->


                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <span class="d-none d-md-block dropdown-toggle ps-2">@FullName</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>@FullName</h6>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" asp-area="Views" asp-controller="AccountDetails" asp-action="Index">
                                <i class="bi bi-person"></i>
                                <span>Hồ sơ của tôi</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" asp-area="Views" asp-controller="Home" asp-action="Privacy">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Đăng xuất</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </div><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link collapsed" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-grid"></i><span>DASHBOARD</span>
                </a>
            </li>

            @if (Role != 3)
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#product-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-menu-button-wide"></i><span>Sản phẩm</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="product-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

                        <li>
                            <a asp-controller="Product" asp-action="Index">
                                <i class="bi bi-cup-hot-fill fs-6"></i> Sản phẩm
                            </a>
                        </li>

                        <li>
                            <a asp-controller="Topping" asp-action="Index">
                                <i class="bi bi-droplet-fill fs-6"></i> Topping
                            </a>
                        </li>

                        <li>
                            <a asp-controller="Product" asp-action="ProductType">
                                <i class="bi bi-collection fs-6"></i> Loại sản phẩm
                            </a>
                        </li>

                        <li>
                            <a asp-controller="ProductSize" asp-action="Index">
                                <i class="bi bi-asterisk fs-6"></i> Size sản phẩm
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#warehouse-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-collection fs-6"></i><span>Kho</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="warehouse-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

                        <li>
                            <a asp-controller="Material" asp-action="Index">
                                <i class="bi bi-kanban-fill fs-6"></i> Nguyên vật liệu
                            </a>
                        </li>

                        <li>
                            <a asp-controller="GoodsReceipt" asp-action="Index">
                                <i class="bi bi-folder-plus fs-6"></i> Phiếu nhập
                            </a>
                        </li>

                        <li>
                            <a asp-controller="GoodsIssue" asp-action="Index">
                                <i class="bi bi-folder-symlink fs-6"></i> Phiếu xuất
                            </a>
                        </li>

                        <li>
                            <a asp-controller="Supplier" asp-action="Index">
                                <i class="bi bi-suitcase-lg-fill fs-6"></i> Nhà cung cấp
                            </a>
                        </li>

                        <li>
                            <a asp-controller="Unit" asp-action="Index">
                                <i class="bi bi-inbox-fill fs-6"></i> Đơn vị
                            </a>
                        </li>

                    </ul>
                </li>
            }
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#account-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-person-vcard "></i><span>Tài khoản</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="account-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

                    <li>
                        <a asp-controller="Account" asp-action="Index">
                            <i class="bi bi-person-lines-fill fs-6"></i> Tài khoản
                        </a>
                    </li>

                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#order-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-bag"></i><span>Đơn hàng</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="order-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

                    <li>
                        <a asp-controller="Order" asp-action="Index">
                            <i class="bi bi-receipt fs-6"></i> Đơn hàng
                        </a>
                    </li>

                </ul>
            </li>

        </ul>

    </aside><!-- End Sidebar-->


    <main role="main" id="main" class="main">
        <section class="section">
            @RenderBody()
        </section>
    </main>


    <div style="height: 100px"></div>

    <div id="footer" class="footer mt-3">
        <div class="copyright">
            &copy; Copyright <strong><span>NDN</span></strong>. All Rights Reserved
        </div>
        <div class="credits">

            Designed by <a href="h#">NDN</a>
        </div>
    </div><!-- End Footer -->
    <div class="modal fade" id="model_spinner_layout_client" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="model_spinner_layout_client" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
             <img src="~/assets/xosx.gif" id="spinner_layout_client" style="width: 30%; margin: auto" />
            @* <img src="~/assets/Vg1.gif" id="spinner_layout_client" /> *@
        </div>
    </div>



    <script src="~/assets/admin/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/admin/vendor/chart.js/chart.umd.js"></script>
    <script src="~/assets/admin/vendor/echarts/echarts.min.js"></script>
    <script src="~/assets/admin/vendor/quill/quill.min.js"></script>
    <script src="~/assets/admin/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/assets/admin/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/assets/admin/vendor/php-email-form/validate.js"></script>
    <script src="~/assets/admin/js/main.js"></script>
    <script src="~/assets/admin/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/js/admin/layout.js"></script>
    <script src="~/js/moment.min.2.29.2.js"></script>
    <script src="~/js/client/layout_spinner.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>


</html>
