@{
    ViewData["Title"] = "Supplier";
}

<div class="card card-custom gutter-b mt-1 ">
    <div class="card-body">

        <div class="row mt-2 pe-0 me-0">
            <div class="col-12 mb-2 row pe-0 m-0">
                <div class="pagetitle col-sm-8 col-12 m-0">
                    <h1 class="fs-2">Nhà cung cấp</h1>
                </div>
            </div>

            <div class="col-12 mb-1 row pe-0 m-0">
                <div class="col-md-8 col-12 p-0">
                </div>
                <div class="col-md-4 col-12 mb-1 p-0">
                    <div class="input-group mb-1 me-1">
                        <input id="request" type="text" class="form-control" placeholder="Tìm kiếm">
                        <button class="btn btn-primary" type="button" id="btn_search"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>


        <table class="table table-bordered border-primary font-custom">
            <thead>
                <tr class="text-center align-middle">
                    <th class="table-color" style="width: 7%;"><button id="add_new" class="btn btn-success" title="Tạo mới"><i class="bi bi-plus-lg"></i></button></th>
                    <th class="table-color" >Mã NCC</th>
                    <th class="table-color" >Tên NCC</th>
                    <th class="table-color" >SĐT</th>
                    <th class="table-color" >Ghi chú</th>
                    <th class="table-color" >Ngày tạo</th>
                    <th class="table-color" >Người tạo</th>
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>

        @* Phan trang *@
        <div class="row d-flex justify-content-between">
            <div class="col-xl-2 col-sm-12 ">
                <p id="page_details"></p>
            </div>
            <div class="col-xl-4 col-sm-12 d-flex justify-content-end me-2">
                <nav aria-label="Page navigation example">
                    <ul class="pagination" id="pagination">
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</div>




@* modal *@
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header modal-color pt-2 pb-2">
                <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="CloseModal()"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" id="form">
                    <div class="col-sm-6 col-12">
                        <div>
                            <label for="formCode" class="form-label">Mã nhà cung cấp<span style="color: red">*</span></label>
                            <input type="text" class="form-control form-control-sm" id="formCode">
                        </div>
                    </div>

                    <div class="col-sm-6 col-12">
                        <div>
                            <label for="formName" class="form-label">Tên nhà cung cấp<span style="color: red">*</span></label>
                            <input type="text" class="form-control form-control-sm" id="formName">
                        </div>
                    </div>

                    <div class="col-12">
                        <div>
                            <label for="formPhoneNumber" class="form-label">Số điện thoại</label>
                            <input type="text" class="form-control form-control-sm" id="formPhoneNumber">
                        </div>
                    </div>

                    <div class="col-12">
                        <div>
                            <label for="formDecription" class="form-label">Ghi chú</label>
                            <textarea class="form-control form-control-sm" style="min-height: 150px" id="formDecription"></textarea>
                        </div>
                    </div>
                </form>

            </div>

            <div class="modal-footer pt-1 pb-1">

                <div class="row p-0 w-100">
                    <div class="col-xl-6 col-sm-12 mt-1 p-0">
                        <button type="button" title="Delete" id="btn_deleteModal" class="btn btn-danger"><i class="bi bi-trash"></i> Xóa</button>
                    </div>

                    <div class="col-xl-6 col-sm-12 mt-1 d-flex justify-content-end p-0">
                        <button type="button" class="btn btn-primary" onclick="CreateOrUpdate()"><i class="bi bi-clipboard-check"></i> Lưu</button>
                        <button type="button" class="btn btn-secondary ms-2" data-bs-dismiss="modal" onclick="CloseModal()">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script src="~/js/admin/supplier.js"></script>