
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>



<section class="py-5" style="background-color: #d9d9d9;">
    <div class="container" style="padding: 0 60px;">
        <div class="row align-items-center py-5">
            <div class="col-md-6" style="color: #198754;">
                <h1>TẦM NHÌN - SỨ MỆNH</h1>
                <p style="text-align: left; color: black;">
                    Trở thành chuỗi thương hiệu cà phê hàng đầu tại Việt Nam và vươn ra thế giới. Tạo ra một quy trình
                    khép kin, từ nguồn cung ứng cho đến sản phẩm đưa tới khách hàng. Lấy khách hàng làm trọng tâm để
                    tạo ra những sản phẩm/ dịch vụ tốt nhất.
                </p>
            </div>
            <div class="col-md-6">
                <div class="mx-auto order-lg-last">
                    <img class="img-fluid" src="~/assets/images/aboutBanner.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Close Banner -->
<!-- Start Section -->
<section class="container py-5">
    <div class="row text-center pt-5 pb-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h3">CHẤT LƯỢNG DỊCH VỤ</h1>
            <p style="color: #198754;">
                DRINK GOOD COFFEE – THE BETTER THE HEALTH
            </p>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="bi bi-person-bounding-box"></i></div>
                <h5 class="mt-4 text-center fw-bold">Khách hàng là trọng tâm</h5>
                <p style="text-align: justify; margin: 0 10px;">
                    Với cửa hàng chúng tôi, khách hàng luôn là trung tâm để chúng tôi đổi mới,
                    điều chỉnh và phấn đấu. Chúng tôi thấu hiểu rằng, mang lại giá trị cho
                    khách hàng là mạng lại giá trị cho chính mình…
                </p>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="bi bi-truck"></i></div>
                <h5 class="mt-4 text-center fw-bold">Giao hàng nhanh</h5>
                <p style="text-align: justify; margin: 0 10px;">
                    Chúng tôi không bán cà phê mà chúng tôi bán cà phê tốt nhất vì BẠN là
                    tuyệt vời nhất. Chúng tôi muốn chia sẻ sau mỗi ly cà phê là NIỀM TIN VÀO CUỘC SỐNG.
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="bi bi-percent"></i></div>
                <h5 class="mt-4 text-center fw-bold">Khuyến mãi</h5>
                <p style="text-align: justify; margin: 0 10px;">
                    Không một sản phẩm hay dịch vụ nào là không có giá trị. Thế nhưng
                    với cửa hàng chúng tôi, giá trị mà chúng tôi mang đến cho khách hàng phải
                    là giá trị tốt nhất bằng tất cả tâm huyết là lòng đam mê để tạo ra.
                </p>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="bi bi-people"></i></div>
                <h5 class="mt-4 text-center fw-bold">Đội ngũ tận tâm</h5>
                <p style="text-align: justify; margin: 0 10px;">
                    Đến với cửa hàng chúng tôi không chỉ trải nghiệm trong những không gian mới
                    mà ở đó khách hàng được chia sẻ, đồng cảm và minh chứng cho một tinh thần cà phê mới.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->

