@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/shop.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<input type="number" value="@ViewBag.Account.Id" hidden disabled id="AccountId" />

<div class="container py-3 py-lg-5">
    <div class="row">
        <!-- Danh mục (Sidebar) -->
        <div class="col-lg-2">
            <div class="category-sidebar">
                <h2 class="h4 pb-2">Danh mục</h2>

                <!-- Mobile Collapse Button -->
                <div class="d-block d-md-none mb-3">
                    <button class="btn btn-outline-secondary w-100" data-bs-toggle="collapse" data-bs-target="#mobileCategories">
                        <i class="bi bi-filter"></i> Lọc danh mục
                    </button>
                </div>

                <!-- Desktop View -->
                <div class="d-none d-md-block">
                    <ul class="list-unstyled">
                        <li class="pb-3">
                            <a class="d-flex justify-content-between text-decoration-none" href="#" onclick="changeType(0)">
                                Tất cả
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </li>
                        <!-- Các danh mục khác -->
                        <li class="pb-3">
                            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#" data-bs-toggle="collapse" data-bs-target="#coffe_list">
                                Cà phê
                                <i class="bi bi-caret-down-fill mt-1"></i>
                            </a>
                            <ul class="collapse list-unstyled ps-3" id="coffe_list">
                                <!-- Các mục con cho Coffe -->
                            </ul>
                        </li>
                        <li class="pb-3">
                            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#" data-bs-toggle="collapse" data-bs-target="#tea_list">
                                Trà
                                <i class="bi bi-caret-down-fill mt-1"></i>
                            </a>
                            <ul class="collapse list-unstyled ps-3" id="tea_list">
                                <!-- Các mục con cho Trà -->
                            </ul>
                        </li>
                        <li class="pb-3">
                            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#" data-bs-toggle="collapse" data-bs-target="#different_list">
                                Khác
                                <i class="bi bi-caret-down-fill mt-1"></i>
                            </a>
                            <ul class="collapse list-unstyled ps-3" id="different_list">
                                <!-- Các mục con cho Khác -->
                            </ul>
                        </li>
                    </ul>
                </div>

                <!-- Mobile Collapse -->
                <div class="collapse d-md-none" id="mobileCategories">
                    <ul class="list-unstyled">
                        <li class="pb-3">
                            <a class="text-decoration-none" href="#" onclick="changeType(0)">Tất cả</a>
                        </li>
                        <li class="pb-3">
                            <ul class="collapse list-unstyled ps-3" id="coffe_list">
                                <!-- Các mục con cho Coffe -->
                            </ul>
                        </li>
                        <li class="pb-3">
                            <ul class="collapse list-unstyled ps-3" id="tea_list">
                                <!-- Các mục con cho Trà -->
                            </ul>
                        </li>
                        <li class="pb-3">
                            <ul class="collapse list-unstyled ps-3" id="different_list">
                                <!-- Các mục con cho Khác -->
                            </ul>
                        </li>   
                    </ul>
                </div>
            </div>
        </div>

        <!-- Phần nội dung chính -->
        <div class="col-lg-10 col-md-7">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="h2">Sản phẩm</h1>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="input-group">
                        <input id="request" type="text" class="form-control form-control-sm" placeholder="Tìm kiếm">
                        <button class="btn btn-sm btn-success" type="button" id="btn_search">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>

                <!-- Danh sách sản phẩm -->
                <div class="row" id="list_product">
                    <!-- Cấu trúc sản phẩm sẽ được thêm bởi JS -->
                </div>

                <!-- Phân trang -->
                <div class="row mt-4">
                    <div class="col-12">
                        <ul class="pagination justify-content-end" id="pagination">
                            <!-- Nút phân trang sẽ được thêm bởi JS -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>



    <!-- End Content -->

    <script src="~/js/client/shop.js"></script>


