@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="heading6">Liên hệ</div>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, blanditiis
                <br>ipsum dolor sit amet consectetur.
            </p>

            <input class="form-control" type="text" placeholder="Họ và tên" aria-label="default input example"><br>
            <input class="form-control" type="email" placeholder="Email" aria-label="default input example"><br>
            <input class="form-control" type="number" placeholder="Số điện thoại" aria-label="default input example"><br>
            <button id="contact-btn">Gửi tin nhắn</button>
        </div>
        <div class="col-md-5" style="background:none" id="col">
            <h1>Thông tin</h1>
            <p><i class="fa-regular fa-envelope"></i> ninhnhat1811@gmail.com</p>
            <p><i class="fa-solid fa-phone"></i> +84 382966829</p>
            <p><i class="fa-solid fa-building-columns"></i>Mễ Trì Thượng, Nam Từ Liêm, Hà Nội</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, culpa</p>
        </div>
    </div>
</div>

<!-- contact -->