@{
    ViewData["Title"] = "Account";
}




<div class="card card-custom gutter-b mt-1 ">
    <div class="card-body">

        <div class="row mt-2 pe-0 me-0">
            <div class="col-12 mb-2 row pe-0 m-0">
                <div class="pagetitle col-sm-8 col-12 m-0">
                    <h1 class="fs-2">Tài khoản</h1>
                </div>
            </div>

            <div class="col-12 mb-1 row pe-0 m-0">

                <div class="col-md-8 col-12 p-0">
                </div>
                <div class="col-md-4 col-12 -0 p-0">
                    <label for="formDateStart" class="form-label form-label-sm mb-0">Tìm kiếm</label>
                    <div class="input-group">
                        <input id="request" type="text" class="form-control form-control-sm" placeholder="Tìm kiếm">
                        <button class="btn btn-primary btn-sm" type="button" id="btn_search"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>


        <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
            <li class="nav-item flex-fill" role="presentation">
                <button class="nav-link w-100 active" id="tab-customer-account" data-bs-toggle="tab" data-bs-target="#tab-content-customer-account" type="button" role="tab" aria-controls="tab-customer-account" aria-selected="true">Khách hàng</button>
            </li>
            @if (ViewBag.Account.Role == 2 || ViewBag.Account.Role == 4)
            {
                <li class="nav-item flex-fill" role="presentation">
                    <button class="nav-link w-100" id="tab-employee-account" data-bs-toggle="tab" data-bs-target="#tab-content-employee-account" type="button" role="tab" aria-controls="tab-employee-account" aria-selected="false">Nhân viên</button>
                </li>

                <li class="nav-item flex-fill" role="presentation">
                    <button class="nav-link w-100" id="tab-manager-account" data-bs-toggle="tab" data-bs-target="#tab-content-manager-account" type="button" role="tab" aria-controls="tab-manager-account" aria-selected="false">Quản lý</button>
                </li>

            }
        </ul>


        <div class="tab-content pt-2" id="borderedTabJustifiedContent">
            @* Tab khách hàng! *@
            <div class="tab-pane fade show active" id="tab-content-customer-account" role="tabpanel" aria-labelledby="tab-customer-account">
                <table class="table table-bordered border-primary font-custom">
                    <thead>
                        <tr class="text-center align-middle">
                            <th class="table-color text-center" scope="col" style="width: 7%;">
                                @if (ViewBag.Account.Role == 2 || ViewBag.Account.Role == 4)
                                {
                                    <button class="btn btn-success add_new" title="Tạo mới"> <i class="bi bi-plus-lg"> </i> </button>
                                }
                            </th>
                            <th class="table-color text-center" scope="col">Email</th>
                            <th class="table-color text-center" scope="col">Họ tên</th>
                            <th class="table-color text-center" scope="col">Giới tính</th>
                            <th class="table-color text-center" scope="col">Chức vụ</th>
                            <th class="table-color text-center" scope="col">Điện thoại</th>
                            <th class="table-color text-center" scope="col">Địa chỉ</th>
                            <th class="table-color text-center" scope="col">Đơn thành công</th>
                            <th class="table-color text-center" scope="col">Đơn hủy</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyCus">
                    </tbody>
                </table>

                @* Phan trang *@
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-2 col-sm-12 ">
                        <p id="page_details"></p>
                    </div>
                    <div class="col-xl-4 col-sm-12 d-flex justify-content-end me-2">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination" id="pagination">
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>

            @if (ViewBag.Account.Role == 2 || ViewBag.Account.Role == 4)
            {
                @* Tab nhân viên!*@
                <div class="tab-pane fade" id="tab-content-employee-account" role="tabpanel" aria-labelledby="tab-employee-account">
                    <table class="table table-bordered border-primary font-custom">
                        <thead>
                            <tr class="text-center align-middle">
                                <th class="table-color text-center" scope="col" style="width: 7%;"><button class="btn btn-success add_new" title="Tạo mới"><i class="bi bi-plus-lg"></i></button></th>
                                <th class="table-color text-center" scope="col">Email</th>
                                <th class="table-color text-center" scope="col">Họ tên</th>
                                <th class="table-color text-center" scope="col">Giới tính</th>
                                <th class="table-color text-center" scope="col">Chức vụ</th>
                                <th class="table-color text-center" scope="col">Điện thoại</th>
                                <th class="table-color text-center" scope="col">Địa chỉ</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyEmp">
                        </tbody>
                    </table>

                </div>

                @* Tab quản lý!*@
                <div class="tab-pane fade" id="tab-content-manager-account" role="tabpanel" aria-labelledby="tab-manager-account">
                    <table class="table table-bordered border-primary font-custom">
                        <thead>
                            <tr class="text-center align-middle">
                                <th class="table-color text-center" scope="col" style="width: 7%;"><button class="btn btn-success add_new" title="Tạo mới"><i class="bi bi-plus-lg"></i></button></th>
                                <th class="table-color text-center" scope="col">Email</th>
                                <th class="table-color text-center" scope="col">Họ tên</th>
                                <th class="table-color text-center" scope="col">Giới tính</th>
                                <th class="table-color text-center" scope="col">Chức vụ</th>
                                <th class="table-color text-center" scope="col">Điện thoại</th>
                                <th class="table-color text-center" scope="col">Địa chỉ</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyManager">
                        </tbody>
                    </table>
                </div>
            }
        </div>

    </div>
</div>




@* modal *@
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header modal-color pt-2 pb-2">
                <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="CloseModal()"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" id="form">

                    <div class="col-md-3">
                        <div>
                            <label for="formName" class="form-label"><span style="color: red">*</span>Họ tên</label>
                            <input type="text" class="form-control form-control-sm" id="formName">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div>
                            <label for="formGender" class="form-label">Giới tính</label>
                            <select class="form-control form-control-sm" id="formGender">
                                <option value="0" selected>Nam</option>
                                <option value="1">Nữ</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div>
                            <label for="formRole" class="form-label">Loại tài khoản</label>
                            <select class="form-control form-control-sm" id="formRole">
                                <option value="1" selected>Khách hàng</option>
                                @if (ViewBag.Account.Role == 2)
                                {
                                    <option value="2">Admin</option>
                                }
                                <option value="3">Nhân viên</option>
                                <option value="4">Quản lý</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div>
                            <label for="formIsActive" class="form-label">Trạng thái</label>
                            <select class="form-control form-control-sm" id="formIsActive">
                                <option value="0">Ngưng hoạt động</option>
                                <option value="1" selected>Hoạt động</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div>
                            <label for="formPhoneNumber" class="form-label">Số điện thoại</label>
                            <input type="text" class="form-control form-control-sm" id="formPhoneNumber">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div>
                            <label for="formEmail" class="form-label"><span style="color: red">*</span>Email</label>
                            <input type="text" class="form-control form-control-sm" id="formEmail">
                        </div>
                    </div>

                    <div class="col-12">
                        <div>
                            <label for="formAddress">Địa chỉ</label>
                            <textarea class="form-control" placeholder="Mô tả" id="formAddress" style="height: 72px;"></textarea>
                        </div>
                    </div>

                </form>

            </div>

            <div class="modal-footer pt-1 pb-1">

                <div class="row p-0 w-100">
                    <div class="col-xl-12 col-sm-12 mt-1 d-flex justify-content-end p-0">
                        <button type="button" class="btn btn-primary" onclick="CreateOrUpdate()"><i class="bi bi-clipboard-check"></i> Lưu</button>
                        <button type="button" class="btn btn-secondary ms-2" data-bs-dismiss="modal" onclick="CloseModal()">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/admin/account.js"></script>